<meta charset="UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- add language-->
<link rel="canonical" href="{ " " | relative_url }}" />
<link rel="alternate" href="{ " " | relative_url }}" hreflang="en-US" />
<!-- add viewport -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<meta name="description" content="ishx Home">
<meta name="author" content = "ishx">
<!-- web icon -->
<link rel="shortcut icon" href="{{ "/favicon.ico" | relative_url }}" />
<link rel="icon" href="{{ "/favicon.ico" | relative_url }}"/>		
<link rel="bookmark" href="{{ "/favicon.ico" | relative_url }}" type="image/x-icon"/>
<!-- support Safari Web Content -->
<link rel="apple-touch-icon" href="{{ "/res/ishx-256x256.png" | relative_url }}" />
<link rel="apple-touch-startup-image" href="{{ "/res/ishx-256x256.png" | relative_url }}"/>
<meta name="apple-mobile-web-app-title" content="ishx"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>

<!-- Links to an external Style Sheet -->
<link rel="stylesheet" href="{{ "css/mainstyle.css" | relative_url }}"  type="text/css">