/*
File: iphone6.css
Date: Tue, 10 Oct, 2017
author: Xiao Shang
email: me@ishx.io
*/
html,body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0
}

body {
    position: relative;
    font-family: Lato;
    font-size: 14px;
    background-color: #E9FBF8;
    background-image: -webkit-radial-gradient(ellipse farthest-corner at 50% 0, #DBF5F1 0%, #9BE4D8 100%);
    background-image: radial-gradient(ellipse farthest-corner at 50% 0, #DBF5F1 0%, #9BE4D8 100%)
}

#iphone6 {
	position: absolute;
	top: 50%;
	left: 50%;

	width: 430px;
	height: 887px;
	margin-top: -444px;
	margin-left: -215px;

	background-color: white;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    -webkit-box-shadow: 0 0 40px 0 #FF91AF;
    box-shadow: 0 0 40px 0 #FF91AF;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#iphone6-body {
	position: absolute;

	width: 430px;
	height: 887px;

	-webkit-border-radius: 35px;
	border-radius: 35px;

	background-color: white;
}

@media (max-width: 480px) {
    #iphone6 {
        left:0;
        top: 0;
        bottom: 0;
        right: 0;
        margin: 0;
        width: auto;
        -webkit-border-radius: 0;
        border-radius: 0

    }
/*    #iphone6-head {
        display: none
    }
    #iphone6-left {
        display: none
    }
    #iphone6-right {
        display: none
    }
    #iphone6-screen-status-bar {
    }
    #iphone6-screen-content {
    }
    #iphone6-foot {
        display: none;
    }
    #iphone6-touch-id {
        display: none;
    }*/
}

#iphone6-head {
	position: absolute;
	top: 10px;
	right: 10px;
	left: 10px;

	width: auto;
	height: 100px;

	-webkit-border-radius: 32.5px 32.5px 0px 0px;
	border-radius: 32.5px 32.5px 0px 0px;

	background-color: #C9FFE5;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	z-index: 2
}

#iphone6-frontcam {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 16px;
    height: 16px;

    margin-top: -8px;
    margin-left: -80px;

    -webkit-border-radius: 8px;
    border-radius: 8px;

    background-color: black;
}

#iphone6-distdetect {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 10px;
    height: 10px;

    margin-top: -35px;
    margin-left: -5px;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: black;
}

#iphone6-earphone {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 80px;
    height: 10px;

    margin-top: -5px;
    margin-left: -40px;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    background-color: black;
}

#iphone6-left {
	position: absolute;
	top: 110px;
	left: 10px;

	width: 17.5px;
	height: 667px;

	background-color: #C9FFE5;
	z-index: 2
}

#iphone6-right{
	position: absolute;
	top: 110px;
	right: 10px;

	width: 17.5px;
	height: 667px;

	background-color: #C9FFE5;
	z-index: 2
}

#iphone6-screen {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;


	//width: 375px;
	//height: 667px;
	width: auto;
	//margin: 100px 17.5px 100px 17.5px;
	margin: 10px;
	border-top: 100px solid  #C9FFE5;
	border-right: 17.5px solid  #C9FFE5;
	border-bottom: 100px solid  #C9FFE5;
	border-left: 17.5px solid  #C9FFE5;

	-webkit-border-radius: 32.5px;
	border-radius: 32.5px;

	padding: 0px;
	background: white;
}

#iphone6-screen-status-bar{
    position: absolute;
    top: 0px;

    width: 100%;
    height: 20px;
    margin: 0px;

    background-color: white;

    border-bottom: 0px dashed #C9FFE5;

    //-webkit-overflow-scrolling: touch;
    color: black;
    z-index: 1
    
}

img[alt="cellular"] {
    height: 16px;
    //width: 31px;
    padding-left: 5px;
    padding-top: 3px;
    float: left
}

img[alt="lte"] {
    height: 16px;
    //width: 31px;
    //padding-left: 5px;
    padding-top: 5px;
    float: left;
}

img[alt="wifi"] {
    height: 16px;
    //width: 30px;
    //padding-left: 5px;
    padding-top: 3px;
    float: left;
}

img[alt="orientation"] {
    height: 16px;
    //width: 30px;
    padding-right: 0px;
    padding-top: 3px;
    float: right;
}

img[alt="battery"] {
    height: 24px;
    //width: 46px;
    //padding-left: 5px;
    padding-top: 3px;
    float: right;
}

#iphone6-screen-status-bar a{
    vertical-align: middle;
    line-height: 20px;
}
a[data-clock] {
    text-align: center;
    vertical-align: middle;
    padding-left: 70px;
    line-height: 20px;
}

a[data-battery] {
    text-align: right;
    vertical-align: middle;
    padding-left: 80px;
    //padding-right: 10px;
    line-height: 20px;
}

#iphone6-screen-nav {
    position: absolute;
    top: 20px;

    width: 100%;
    height: 44px;
    margin: 0px;

    background-color: white;

    border-bottom: 0px dashed #C9FFE5;

    color: black;
    z-index: 1
}

#iphone6-screen-content {
    position: absolute;
    top: 20px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    //width: 100%;
    //height: 627px;
    width: auto;
    height: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    color: #666;
    z-index: 2
}

#iphone6-screen-content::-webkit-scrollbar {
    width: 8px
}

#iphone6-screen-content::-webkit-scrollbar-thumb {
    background-color: #24A0ED;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

#iphone6-screen-tab {
    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 49px;
    margin: 0px;

    background-color: white;

    border-bottom: 0px dashed #C9FFE5;

    //-webkit-overflow-scrolling: touch;
    color: black;
    z-index: 1
}

#iphone6-foot{
	position: absolute;
	bottom: 10px;
	right: 10px;
	left: 10px;

	width: auto;
	height: 100px;

	-webkit-border-radius: 0px 0px 32.5px 32.5px;
	border-radius: 0px 0px 32.5px 32.5px;

	background-color: #C9FFE5;
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
	z-index: 2
}

#iphone6-touch-id{
	position: absolute;
	top: 50%;
	left: 50%;

	width: 70px;
	height: 70px;

	margin-left: -40px;
	margin-top: -40px;

	border: 5px solid  #FF91AF;
	-webkit-border-radius: 40px;
	border-radius: 40px;

	background-color: white;
}

#iphone6-touch-id svg {
  height: 70px;
  width: 70px;
}

#iphone6-touch-id svg circle {
  fill: transparent;
  cx: 35px;
  cy: 35px;
  r: 35px;
}

#iphone6-screen svg {
	height: 667;
	width: 375;
}

#iphone6-screen svg rect{
	height: 667;
	width: 375;
}
