---
layout: default
---

<div id = "iphone6">
  <div id = "iphone6-body">

    <div id = "iphone6-body-head"></div>
    <div id = "iphone6-body-left"></div>
    <div id = "iphone6-body-right"></div>

    <div id = "iphone6-body-screen">
      <div id = "iphone6-body-screen-status-bar">          
        <div align="center" vertical-align = "middle">
          <h3>ishx Mobile</h3>
        </div>
      </div>
      <div id = "iphone6-body-screen-content">
          <!--iframe width="100%" height="100%" frameborder = '0' src="http://ishxiao.com/"></iframe-->
          {{ content }}
      </div>
    </div>
    <div id = "iphone6-body-foot">
      <div id = "iphone6-touch-id" >
      </div>
    </div>
  </div>
</div>
