---
layout: default
---

<div id = "iphone6">
    <div id = "iphone6-screen">
        <div id = "iphone6-screen-status-bar">
            <div align="center" vertical-align = "middle">
                <h3>ishx Mobile</h3>
            </div>
        </div>
        <div id = "iphone6-screen-content">
            {{ content }}
        </div>
    </div>
    <div id = "iphone6-foot">
        <div id = "iphone6-touch-id">
        <svg>
            <a xlink:href={{ " " | relative_url }}><circle/></a>
        </svg>
        </div>
    </div>
</div>